.item-carousel-container{
    width: 99vw;

    background-color: black;
}

.item-poster{
    height: 200px;
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
}


.item-poster > img{
    height: 100%;
    width: 100%;
}

.item-card-container {
    height: 99vw;
    background-color: black;
    
}

.item-card{
    background-repeat: no-repeat;
    width: 100%;
    height:  100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
   
    

}

.item-detail{
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item-title{
    color:wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.item-title2{
    color:wheat;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    position: relative;
    
}
.item-column{
    padding: 10px;
    
}

.column-title{
    text-decoration: underline #F0E68C;
    
}

.column-answer{
    padding-top: 30px;
}
.item-buttons-container{
    display: flex;
    justify-content: center;
    gap: 1px; 
}
.delete-button-icon-container{
    padding:0px;
    margin: 0px;
    width: 20px;
    padding-top: 15px;
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 80px;
    line-height: 50px;
}

.delete-button-icon{
    padding:0px;
    margin:0px;
    color: gold;
    font-size: 3rem;
    transition: 0.3;
    cursor: pointer;
}

.delete-button-icon:hover{
    font-size: 4rem;
    color:red
}

.edit-button-icon-container{
    padding:0px;
    margin: 0px;
    width: 20px;
    padding-top: 15px;
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 80px;
    line-height: 50px;
}

.edit-button-icon{
    padding:0px;
    margin:0px;
    color: gold;
    font-size: 3rem;
    transition: 0.3;
    cursor: pointer;
}

.edit-button-icon:hover{
    font-size: 4rem;
    color:orange;
}

.complete-button-icon-container{
    padding:0px;
    margin: 0px;
    width: 20px;
    padding-top: 15px;
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 80px;
    line-height: 50px;
}

.complete-button-icon{
    padding:0px;
    margin:0px;
    color: gold;
    font-size: 3rem;
    transition: 0.3;
    cursor: pointer;
}

.complete-button-icon:hover{
    font-size: 4rem;
    color:green;
}




@media only screen and(max-width:800px) {
    .item-detail{
        flex-direction: column;
        align-items: center;
        top:20px
    }
}